.admin-header-content {
    background: white;
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.5);
    height: 68px;
    border-bottom: 1px solid #f0f0f0;

    .header {
        .btn {
            width: 64px !important;

            .ant-btn {
                &:hover {
                    background: none;
                }
            }
        }

        .logo-search {
            .logo {
                background-image: url("../../../../../public/assets//images/LogoNgang.png");
                background-size: contain;
                background-repeat: no-repeat;
                width: 35%;
                height: 40px;
            }
        }

        .icon {
            gap: 15%;
        }
    }
}