.presdetail-container {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 15px;
    background-color: #DDEEFF;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;

    .center-content{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .row {
        gap: 12px;
        display: flex;
        align-items: flex-start
    }

    p {
        margin: 0;
        display: flex;
        color: black;
        padding-left: 0;
    }

    .suptext {
        color: gray;
        font-weight: 500;
        margin-top: 5px;
    }

    .input {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
}

.red {
    color: #F44343;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 16px;
    margin-top: 35%;
    cursor: pointer;

    .hover {
        color: black;
    }
}
