.pres-container {

    .row{
        display: flex;
        align-items: center;
        padding: 0;
    }

    .empty-list-message{
        font-family: 'Open Sans', sans-serif;
        font-style: italic;
        font-size: 16px;
        color: gray;
        margin: 0;
    }

    .gap{
        gap: 10px;
    }

    .padding{
        padding: 10px;
    }

    .title{
        margin: 0;
    }

    .payment{
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        display: flex;
        justify-content: flex-end;
    }

    .button{
        display: flex;
        align-items: center;
        padding: 0;
        gap: 5px;
    }    

    .add-button{
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        background-color: #438EF3;
        color: white;
        font-weight: bold;
        border: none;
        width: 100%;
        border-radius: 5px;
        padding: 5px 15px;
        cursor: pointer;

        &:hover{
            background-color: #1060ca;
        }
    }

    .save-button {
        font-family: 'Open Sans', sans-serif;
        background-color: #3AA472;
        font-size: 14px;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        width: 80%;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #297853;
        }
    }
}
