.create-modal {}

.ant-select-dropdown {
    z-index: 1501 !important;
}

.editor-container {
    .section-container,
    .input {
        position: relative;
        z-index: 0;
    }
}

.rc-md-navigation {
    .left {
        transform: rotate(0deg) !important;
    }

    .right {
        transform: rotate(0deg) !important;
    }
}