.user-manage {
    .container {
        .btn-add-user {
            margin-right: 5rem;
            border: 2px solid #6ae1f9;
            border-radius: 10px;
            color: #6ae1f9;
            font-weight: 600;

            &:hover {
                background-color: #6ae1f9;
                color: white;

                .icon {
                    color: white !important;
                }
            }
        }

        .table-responsive {
            border-radius: 15px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

            .pageNoActive {
                margin: 4px;
                padding: 0px 6px;
                text-align: center;
                font-weight: 700;
                cursor: pointer;
                border-radius: 30px;
                transition: all 0.2s ease-in;
                border-color: white;
                background-color: rgb(117, 225, 250);
                color: white;
            }

            .pageNoInactive {
                margin: 4px;
                padding: 0px 6px;
                text-align: center;
                font-weight: 700;
                cursor: pointer;
                border: none;
                transition: all 0.2s ease-in;
                border-color: white;
                background-color: white;
                color: rgb(117, 225, 250);
            }

            .lastPageActive {
                opacity: 0.5;
                color: rgb(211, 205, 205);
            }

            .firstPageInactive,
            .lastPageInactive {
                margin: 8px;
                text-align: center;
                font-weight: bolder;
                cursor: pointer;
                transition: all 0.2s linear;
                color: rgb(117, 225, 250);
            }

            .iconDetail {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #adafaf;
                padding: 4px;
                height: 30px;
                width: 30px;

                &:hover {
                    background-color: rgb(206, 233, 233);
                    border-radius: 50%;

                }
            }
        }
    }
}