// Variables for colors
$primary-text-color: white; // Màu văn bản chính
$secondary-text-color: #868686; // Màu văn bản phụ
$background-color: #f5f5f5; // Màu nền
$primary-heading-color: #2c3e50; // Màu tiêu đề chính
$button-bg-color: #008bf8; // Màu nền của nút
$button-text-color: #ffffff; // Màu văn bản của nút
$border-color: #c3c6ce; // Màu viền
$bg-service-color: 868686;

// OurService section

// Doctor Search section
.doctor-search-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.item-doctor-search {
  border-radius: 10px;
  padding: 25px 15px;
  background-color: #00baa3;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  color: white;
  // Thêm hiệu ứng box-shadow
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
.ourService {
  margin-top: 50px;
  .container-service {
    display: flex;
    justify-content: space-evenly;

    padding: 0 150px;
  }

  .card {
    width: 24%;
    height: 200px;
    background: $bg-service-color;
    position: relative;
    padding: 1.8rem;
    border: 2px solid $bg-service-color;
    transition: 0.5s ease-out;
    overflow: visible;
    
    .fa-user-doctor {
      color: #4aa0fb; /* Chỉnh màu cho icon */
    }
    .card-details {
      color: black;
      height: 100%;
      gap: 0.5em;
      display: grid;
      place-content: center;
    }

    .card-button {
      transform: translate(-50%, 125%);
      width: 60%;
      border-radius: 1rem;
      border: none;
      background-color: #008bf8;
      color: #fff;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      position: absolute;
      left: 50%;
      bottom: 0;
      opacity: 0;
      transition: 0.3s ease-out;
    }

    &:hover {
      border-color: #088df3;
      box-shadow: 0 8px 22px 0 rgba(0, 0, 0, 0.25);
      transform: scale(1.01);

      .card-button {
        transform: translate(-50%, 50%);
        opacity: 1;
      }
    }
  }

  .text-body {
    color: rgb(134, 134, 134);
    font-size: 20px;
    margin-top: 20px;
    font-weight: 500;
  }

 
}

// Introduce service section

.introduce {
  background-color: #008bf8;
  margin-top: 100px;
  color: $primary-text-color;
  font-size: 20px;
  text-align: center;
  .container-introduce {
    padding: 50px 0;
    .top {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 30px;
      .title-top {
      }
      .description {
        width: 50%;
      }
    }
  }
  .bottom {
    display: flex;
    margin: auto;
    .item {
      padding: 0 20px;
      flex-grow: 1;

$body: 'Open Sans', sans-serif; // Font chữ dễ đọc cho body
$big: 'Georgia', serif; // Font chữ dễ đọc cho tiêu đề

$white: #ffffff;
$primary: #F2DAD7;
$secondary: #D1A39E;
$light: #CECDCA;
$dark: #474545;

$ease: all 0.3s ease-in-out;

body {
  font-family: $body;
  margin: 0;
}

// Blog section

.blog {
  margin-top: 100px;
  h3 {
    text-align: center;
  }

  .container-blog {
    display: flex;
    padding: 30px 100px;
    justify-content: space-evenly;
    align-items: center;

    .main-blog {
      width: 40%;
      position: relative;
      img {
        width: 100%;
      }
      .position-title {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: $primary-text-color;
        font-size: 20px;
      }
    }
    .list-blog {
      display: flex;
      flex-direction: column;
      gap: 10px;
      // width: 50%;

      .blog-item {
        display: flex;
        padding: 20px 0;
        width: 500px;

        &:nth-child(2) {
          border-top: 1px solid rgba(89, 89, 89, 0.5);
          border-bottom: 1px solid rgba(89, 89, 89, 0.5);
        }

        .item-img {
          img {
            width: 100%;
            height: 100%;
          }

          width: 200px;
          height: auto;
          margin-right: 20px;
        }
        .item-text {
          p {
            font-size: 17px;
            font-weight: 650;
          }
          span {
            font-size: 17px;
            font-weight: 500;
          }

          .item-text-title {
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
// slider department section


.container-department{
 
  
  .department-slider {
    width: 100%;
    padding: 20px;
    // overflow: hidden;
  }
  
}


