.department-content {
    display: flex;
    justify-content: center; // Căn giữa theo chiều ngang
    align-items: center; // Căn giữa theo chiều dọc
    height: 100%;

    .container {
        padding: 0 3%;
        margin: 0;
        background: #f4f7fe;

        .first {
            .text {
                font-size: 1.2rem;
                color: #003a8c;
            }

            .btn-add-department {
                background: #f4f7fe;
                border: 1px solid #0A8FDC;
                border-radius: 8px;
                color: #0A8FDC;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    border: #04a9f3 1px solid;
                    color: #04a9f3;

                    .icon {
                        color: #04a9f3 !important;
                    }
                }
            }

            .btn-refresh-department {
                background: #f4f7fe;
                border: 1px solid #04a9f3;
                border-radius: 8px;
                color: #04a9f3;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    border: #007579 1px solid;
                    color: #007579;

                    .icon {
                        color: #007579 !important;
                    }
                }
            }
        }

        .animated-div {
            opacity: 0;
            transform: translateY(-20px);
            /* Đẩy div lên 20px */
            transition: opacity 0.5s ease, transform 0.5s ease;
            /* Thêm transition cho opacity và transform */
            height: 0;
            /* Đặt chiều cao ban đầu là 0 */
            overflow: hidden;
            /* Ẩn nội dung bên trong khi chiều cao là 0 */
        }

        .animated-div.show {
            opacity: 1;
            transform: translateY(0);
            /* Đưa div về vị trí ban đầu */
            height: auto;
            /* Đặt chiều cao là tự động để hiển thị nội dung */
        }

        .insert-department {
            border-radius: 10px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            background: white;
            margin-bottom: 1rem;

            .content {
                .icon {
                    cursor: pointer;
                }

                textarea {
                    z-index: 0;

                    &:focus {
                        box-shadow: none !important;
                    }

                    &:hover {
                        box-shadow: none !important;
                    }
                }

                .image-upload {
                    background: white;
                    padding: 10px;
                    border-radius: 10px;
                    border: 2px dashed #0A8FDC;

                    .container {
                        background: #f4f7fe;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        span {
                            font-size: 1rem;
                            font-weight: 600;
                            color: #0A8FDC;
                            cursor: pointer;
                        }
                    }
                }
            }

        }

        .table-department {
            border-radius: 10px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

            .head {
                .search {}
            }

            .table-body {

                tr {
                    background: white;
                    border-bottom: 1px solid #c8c8c8 !important;

                    td {
                        border-bottom: none !important;
                        vertical-align: middle !important;
                    }



                    &:hover {
                        td {
                            background: #ebecee !important;
                        }

                        background: #ebecee !important;
                    }
                }

                .dead {
                    .rounder {
                        border-radius: 5px;
                        background-color: white;
                        border: 1px solid #04a9f3;
                        color: #04a9f3;
                        padding: 2px 4px;
                        font-size: 10px;
                    }
                }

                .row-1 {
                    th {
                        border-bottom: none !important;
                    }
                }


            }

            .footer-table {
                background: white;
                display: flex;
                justify-content: end;
                align-items: center;

                .select-page {
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    .text {
                        width: 4rem;
                        font-size: 0.9rem;
                    }

                    span {
                        font-size: 0.9rem;
                    }

                    .css-mnqnbf {
                        background: none;

                        span {
                            font-size: 0.9rem;
                            font-weight: 600;
                            color: black;
                        }
                    }

                    .css-1izobnm {
                        background: none;
                        color: black;
                        font-size: 0.7rem;
                        font-weight: 600;
                    }
                }

                .paginationContainer {
                    font-size: 0.9rem;
                    margin: 0 1rem;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    width: max-content;
                }
            }

            .css-mnqnbf {
                background: none;
                text-align: left;

                span {
                    font-size: 0.7rem;
                    font-weight: 600;
                    color: black;
                }
            }

            .css-1izobnm {
                background: none;
                color: black;
                font-size: 0.7rem;
                font-weight: 600;
            }

        }
    }
}