.parac-container{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;
    min-height: 60vh;

    .row{
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .row-button{
        gap: 10px;
        display: flex;
    }

    p{
        margin: 0;
    }

    .empty-list-message{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-style: italic;
        font-size: 16px;
        color: gray;
        margin: 0;
    }

    .col-4{
        display: flex;
        align-items: center;
        gap: 5px;
    }
    
    .add-button{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 14px;
        background-color: #438EF3;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        cursor: pointer;

        &:hover{
            background-color: #1060ca;
        }
    }

    .save-button {
        font-family: 'Be Vietnam Pro', sans-serif;
        background-color: #3AA472;
        font-size: 14px;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #297853;
        }
    }

    .save-button.disabled {
        background-color: #ccc; /* Màu xám khi disabled */
        cursor: not-allowed; /* Đổi con trỏ thành không thể click */
    }

    .delete-button {
        font-family: 'Be Vietnam Pro', sans-serif;
        background-color: #f44343;
        font-size: 14px;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover {
            background-color: #c71212;
        }
    }

    .restore-button{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 14px;
        background-color: #438EF3;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        width: 100%;
        cursor: pointer;

        &:hover{
            background-color: #1060ca;
        }
    }

    .restore-button.disabled {
        background-color: #ccc; /* Màu xám khi disabled */
        cursor: not-allowed; /* Đổi con trỏ thành không thể click */
    }
}