.staff-manage {
    .container {
        padding: 0 2rem;
        background: #f4f7fe;

        .btn-add-user {
            background: #f4f7fe;
            border: 1px solid #0A8FDC;
            border-radius: 8px;
            color: #0A8FDC;
            font-weight: 500;
            cursor: pointer;

            &:hover {
                border: #086FAB 1px solid;
                color: #086FAB;

                .icon {
                    color: #086FAB !important;
                }
            }
        }

        .table-responsive {
            border-radius: 15px;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);


            .css-mnqnbf span {
                text-align: left !important;
                font-size: 14px !important;
                color: #6C757D !important;
            }

            .pageNoInactive {
                border: none !important;
            }

            .pageNoActive {
                background-color: #6ae1f9;
                color: white;
                border-radius: 50%;
            }

            .iconDetail {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #c3c3c3;
                padding: 4px;
                height: 30px;
                width: 30px;
                background: none;

                // đè csss thư viện
                button {
                    color: #c3c3c3;

                    &:hover {
                        background: none !important;
                    }
                }

                .css-mde2be {
                    background: none;
                    color: #c3c3c3;

                }

                .css-1spmf3f {
                    background: none;
                }

                // hover icon 3 chấm
                &:hover {
                    background-color: rgb(227, 227, 227);
                    border-radius: 50%;
                }

                span {
                    font-weight: 500;
                }

                .update {
                    color: rgb(0, 142, 61);
                }

                .del {
                    color: red;
                }

                // hover trong menu
                .css-4mjcmd {
                    button {
                        &:hover {
                            background-color: rgb(227, 227, 227);
                        }
                    }
                }
            }

            .table-head {}

            .row-1 {
                .flex {
                    width: min-content !important;
                }

                .name {
                    width: 20px;
                    white-space: nowrap;
                }
            }

            .table-body {
                max-height: 60vh;
                overflow-y: auto;
                scrollbar-width: none;

                td {
                    border-bottom: none !important;
                }

                tr {
                    border-bottom: 1px solid #c8c8c8 !important;
                }

                .min-content-width {


                    .image {
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                    }

                    .email {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                    }
                }


            }

            .footer-table {
                background: white;
                display: flex;
                justify-content: end;
                align-items: center;

                .select-page {
                    display: flex;
                    justify-content: left;
                    align-items: center;

                    .text {
                        width: 4rem;
                        font-size: 0.9rem;
                    }

                    span {
                        font-size: 0.9rem;
                    }

                    .css-mnqnbf {
                        background: none;

                        span {
                            font-size: 0.9rem;
                            font-weight: 600;
                            color: black;
                        }
                    }

                    .css-1izobnm {
                        background: none;
                        color: black;
                        font-size: 0.7rem;
                        font-weight: 600;
                    }
                }

                .paginationContainer {
                    font-size: 0.9rem;
                    margin: 0 1rem;
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    width: max-content;
                }
            }

            .css-mnqnbf {
                background: none;
                text-align: left;

                span {
                    font-size: 0.7rem;
                    font-weight: 600;
                    color: black;
                }
            }

            .css-1izobnm {
                background: none;
                color: black;
                font-size: 0.7rem;
                font-weight: 600;
            }

        }
    }
}