.list-handbook-container{
    background-color: white;

    .search-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background: #EDF6FF;
        padding: 5px 5px;
        border-radius: 30px;

        input {
            background: #EDF6FF;
        }
        
        .button{
            padding: 6px 16px;
            border-radius: 5px 25px 25px 5px;
            border: none;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            font-weight: bold;
            width: 10%;

            i{
                margin-right: 10px;
                color: white;
            }
        }

        .icon {
            display: flex;
            justify-content: center; 
            align-items: center; 
        }
    }

    .ant-pagination-item-active{
        border-color: #007bff;
        border: 1.5px solid #007bff;
    }
}