@import "../../../../../style/variables.scss";
.list-handbook-container{
    font-family: 'Be Vietnam Pro', sans-serif;

    .list-handbook-header{
        background: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 4px 4px 8px #cdd3d6, -4px -4px 8px #e5ebef;
        justify-content: center;
        align-items: center;
    }

    .parent {
        display: flex;
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center;    
    }

    .search-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        background: #e4f2ff;
        padding: 5px 5px;
        border-radius: 30px;

        input {
            background: #e4f2ff;
        }

        .button {
            padding: 6px 16px;
            border-radius: 5px 25px 25px 5px;
            border: none;
            background-color: $primary-color-admin;
            color: white;
            cursor: pointer;
            font-weight: bold;
            width: 15%;

            i{
                color: white;
            }
        }

        .icon {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .ant-pagination-item-active {
        border-color: $primary-color-admin;
        border: 1.5px solid $primary-color-admin;
    }

    .filter{
        font-weight: 400;
        border: 1px solid #007bff;
        padding: 5px 10px;
        border-radius: 20px;
        background: white;
        color: #007bff;
        cursor: pointer;

        i{
            margin-right: 10px;
            color: #007bff;
            font-size: 18px;
        }
    }

    .padding0{
        padding: 0 12px 0 0;
    }
}

.ant-modal-root{
    .find-tag{
        padding: 5px 8px;
        width: 100%;
        border-radius: 8px;
        border: 1.5px solid #91C5F5;

        &:focus{
            box-shadow: none;
            border: 1.5px solid #91C5F5;
        }
    }
}

.list-tag {
    font-family: 'Be Vietnam Pro', sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    .tag-item {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        border: 1.5px solid #F4F4F5;
        background: #F4F4F5;
        color: rgb(85, 85, 85);
        border-radius: 5px;
        width: fit-content;
        white-space: nowrap; 
        padding: 3px 12px;
        cursor: pointer;
        font-weight: 400;
    }

    .tag-selected {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        border: 1.5px solid #7bbbff;
        background: #F6F8FD;
        color: #2a91ff;
        border-radius: 20px;
        width: fit-content;
        white-space: nowrap; 
        padding: 3px 12px;
        cursor: pointer;
    }

    p {
        margin: 0; 
        display: inline-block;
        font-weight: 400;
    }

    .active{
        border: 2px solid #e7e7e7;
        background: white;
        color: black;
    }
}

.rtl{
    flex-direction: row-reverse;
}