.exam-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 20px;

    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 14px;

    .padding5{
        padding: 5px;
    }

    p{
        margin: 0;
    }

    .col-3{
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .save-button {
        font-family: 'Be Vietnam Pro', sans-serif;
        background-color: #3AA472;
        font-size: 14px;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        width: 100%;
        cursor: pointer;
        transition: background-color 0.3s ease;
    
        &:hover {
            background-color: #297853;
        }
    }
    
    .save-button.disabled {
        background-color: #ccc; /* Màu xám khi disabled */
        cursor: not-allowed; /* Đổi con trỏ thành không thể click */
    }

    .restore-button{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 14px;
        background-color: #438EF3;
        color: white;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        padding: 5px 15px;
        width: 100%;
        cursor: pointer;

        &:hover{
            background-color: #1060ca;
        }
    }

    .restore-button.disabled {
        background-color: #ccc; /* Màu xám khi disabled */
        cursor: not-allowed; /* Đổi con trỏ thành không thể click */
    }
}

.row{
    display: flex;
    align-items: center;
}

.input {
    padding: 8px 10px;
    border-radius: 6px;
    border: 1.5px solid rgb(211, 211, 211);  
    width: 100%;
    outline: none;
    background: white;
    box-shadow: none;
}

.date-picker{
    width: 100%;
    height: 100%;
    font-size: 14px;
    border-radius: 5px;
    border: 1.5px solid rgb(220, 220, 220);  
    background: white !important;
    padding: 5px 10px;
    cursor: pointer;

    .react-datepicker-wrapper{
        width: 100%;
    }
}

.select-box{
    font-size: 14px;
    width: 100%;
}
