$background-color: #F4F7FE;
$background-table-head: #dceff8;
$primary-color: #007BFF;
$secondary-color: #003a8c;
$text-head-color: #007BFF;

$boder-content: 10px;
$box-shadow-content: 0 0 10px 0 rgba(0, 0, 0, 0.1);

// text size
$text-content-size: 0.8em;