// _variables.scss
$primary-color: #3498db;
$secondary-color: #2ecc71;
$bg-color: #f4f4f4;

$main-text-color: #003553;
$secondary-text-color: #858585;



// Font sizes
$font-size-title-section: 28px;
$font-size-small: 16px;
$font-size-large: 20px;


// font weight 

$font-weight-title-section :700;
$font-weight-main-text : 400;


//------------ADMIN----------------
$background-color: #F4F7FE;
$background-table-head: #dceff8;
// $primary-color: #007BFF;
// $secondary-color: #003a8c;
$text-head-color: #007BFF;

$boder-content: 10px;
$box-shadow-content: 0 0 10px 0 rgba(0, 0, 0, 0.1);

// text size
$text-content-size: 0.8em;