.paginationContainer {
    .pageNoInactive {
        border: none !important;
        background-color: none !important;
    }

    .pageNoActive {
        background-color: none !important;
        color: white;
    }
}