.exam-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding-top: 20px;

    font-family: 'Nunito', sans-serif;
    font-size: 14px;

    p{
        margin: 0;
    }
}

.row{
    display: flex;
    align-items: center;
}

.input{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    width: 100%;
    height: 100%;
    border: 1.5px solid #91c5f5;
    border-radius: 8px;
    background-color: #edf6ff;
    outline: none;
    color: #000000;
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
    padding: 5px;

    &::placeholder {
        color: #6B7280;
    }

    &:hover {
        box-shadow: 0 0 0 2px #83BDF4, 0px 0px 25px -15px #000;
    }

    &:focus {
        box-shadow: 0 0 0 2px #73b5f2;
        border: 0;
    }
}

.save-button {
    font-family: 'Nunito', sans-serif;
    background-color: #3AA472;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #297853;
    }
}

.delete-button {
    font-family: 'Nunito', sans-serif;
    background-color: #f44343;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #c71212;
    }
}

.add-button{
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    background-color: #438EF3;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover{
        background-color: #1060ca;
    }
}

.date-picker{
    width: 100%;
    height: 100%;
    font-size: 14px;
    border-radius: 8px;
    border: 1.5px solid #91c5f5;
    cursor: pointer;

    .react-datepicker-wrapper{
        width: 100%;
    }
}

.select-box{
    font-size: 14px;
    width: 100%;
}
