* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body,
html {
  overflow-x: hidden;
  font-family: 'Be Vietnam Pro', sans-serif;
}

/* Global Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  /* Chiều rộng thanh cuộn dọc */
  height: 8px;
  /* Chiều rộng thanh cuộn ngang */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  /* Màu thanh cuộn */
  border-radius: 10px;
  /* Bo góc thanh cuộn */
  transition: background-color 0.3s ease;
  /* Hiệu ứng khi hover */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(184, 180, 180, 0.5);
  /* Màu thanh cuộn khi hover */
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Nền của track */
}

/* Làm thanh cuộn biến mất khi không hover */
body:not(:hover) ::-webkit-scrollbar-thumb {
  background-color: transparent !important;
}