@import "../../style/variables.scss";

.admin-content {
    .content-data {
        min-height: 80vh;
    }

    span {
        font-family: 'Be Vietnam Pro', sans-serif;
    }

    div {
        font-family: 'Be Vietnam Pro', sans-serif;
    }

    input {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 1em;
        font-weight: 300;
    }

    textarea {
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 1em;
    }
}