.admin-content {

    .content-data {
        //  background: #f4f7fe !important;
        background: #f4f7fe !important;

        .ant-layout-content {
            background: #f4f7fe !important;
        }



    }

    span {
        // font-family: 'Inclusive Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }

    div {
        //  font-family: 'Inclusive Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
    }

    input {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.1em;
        color: rgb(58, 58, 58);
    }
}