.admin-content {

    .content-data {
        //  background: #f4f7fe !important;
        background: white !important;

        .ant-layout-content {
            background: white !important;
        }



    }

    span {
        font-family: 'Roboto', sans-serif;
    }

    div {
        font-family: 'Roboto', sans-serif;
    }
}