@import "../../style/variables.scss";

.admin-content {
    position: relative;

    .content-data {
        min-height: 80vh;
        background: $background-color;
    }

    .ant-space-item {
        cursor: pointer;
    }
}